@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #262626;
    font-family: 'Raleway', sans-serif;
}
a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style-type: none;
}


h2{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 35px;
}

.container{
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.row{
    display: flex;
}
/* ------- */


nav{
    position: fixed;
    width: 100vw;
    height: 147px;
    transition: 1s;
}
.scrolled{
    transition: 1s;
    height: 60px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    background-color: rgba(249, 248, 251, 0.5);
    z-index: 5;
}

.scrolled:hover{
    background-color: #f9f8fb;
}

.nav-container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.nav-items{
    font-weight: 700;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.nav-items li ::before{
    content: '';
    position: relative;
    width: 0%;
    height: 3px;
    display: block;
    margin-bottom: 2px;
    transition: 0.3s;
}


.nav-items li:hover ::before{
    background: #ff6033;
    width: 100%;
}


header{
    padding-top: 147px;
    height: 853px;
    background: #f9f8fb url('imgs/headerbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container{
    height: inherit;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}

header p{
    width: 370px;
    margin-bottom: 30px;
    font-size: 17px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    background: #ff6033;
    color: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    font-size: 20px;
}

.scroll{
    background: url('imgs/scroll.png');
    width: 25px;
    height: 40px;
    position: absolute;
    background-repeat: no-repeat;
    top: 78%;
    right: 50%;
    background-position: center;
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

@keyframes scroll{
    0%{top: 78%;}
    30%{top: 78%;}
    70%{top: 82%;}
    100%{top: 82%;}
}



.section-about{
    background: #00b1b1;
    height: 700px;
}
.about-container{
    height: inherit;
    background: url('/imgs/aboutbg.png');
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about-container .text{
    width: 40%;
}

.about-container h2{
    font-size: 90px;
    font-weight: 700;
}

.about-container p{
    font-weight: 300;
    line-height: 25px;
}


.section-services{
    background-color: #70bfff;
    height: 790px;
}

.services-container{
    height: inherit;
    background: url('/imgs/servicesbg.png');
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-container h2{
    color: white;
    font-weight: 700;
    font-size: 90px;
}

.services-container li{
    display: flex;
    width: 400px;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.services-container li p{
    text-align: center;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
}
.services-container li span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-left: 1px solid #9d9d9d;
    height: inherit;
}


.section-gallery{
    background-color: #ffe92f;
    height: 1546px;
}

.gallery-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 50px 0;
}


.pictures-grid .pic{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    background-color: white;
}

.pic-1{
    background: url('imgs/gridimg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/9;
    grid-row: 1/3;
    width: 770px;
    height: 550px;
}
.pic-2{
    background: url('imgs/gridimg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 9/13;
    grid-row: 1/2;
}
.pic-3{
    background: url('imgs/gridimg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 9/13;
    grid-row: 2/3;
}

.pic-4{
    background: url('imgs/gridimg4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/7;
    height: 400px;
}
.pic-5{
    background: url('imgs/gridimg5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 7/13;
}

.gallery-container .galleryDesc{
    width: 600px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.btn-gallery{
    background-color: #5585a2;
}



.section-subscribe{
    height: 500px;
    background: #fff url('imgs/subscribebg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.subscribe-container{
    height: inherit;
    display: flex;
    flex-direction: column;
}

.subscribe-container h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.subscribe-container p{
    width: 570px;
    margin-bottom: 30px;
}
.subscribe-container input{
    width: 570px;
    margin-right: 30px;
    padding: 20px;
}

.subscribe-container .btn-subscribe{
    background-color: #96b92c;
}

.section-blog{
    height: 864px;
    color: #fff;
    background: #b07cf7;
}
.blog-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container h2{
    font-weight: 700;
    font-size: 90px;
}
.blog-container p{
    width: 570px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.blog-container .row{
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
}
.blogCard{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    justify-content: space-between;
} 

.blogCard .date{
    background-color: rgba(0,0,0,0.3);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-weight:  900;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.blogCard h5{
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
    align-self: center;
}

.blogCard .desc{
    width: 100%;
    font-weight: 300;
    margin-bottom: 15px;
    padding-left: 20px;
    text-align: left;
}

.gradient{
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blog-1{
    background: url('imgs/blog-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-2{
    background: url('imgs/blog-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.blog-3{
    background: url('imgs/blog-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-blog{
    background-color: #f72b3b;
}


.section-contact{
    height: 867px;
    background: url('/imgs/contactbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container .row{
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 200px;
}
.contact-container h2{
    font-weight: 700;
    font-size: 90px;
}

.contact-container p{
    width: 370px;
    text-align: center;
}

.contact-container .form{
    display: flex;
    flex-direction: column;
}

.contact-container .input-field{
    width: 500px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
}
.contact-container .form input{
    background-color: rgba(0, 196, 196, 0.3);
    border: 0;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    transition: 1s background;
}

.contact-container .form input:focus{
    background-color: rgb(0, 196, 196);
    outline: 0;
    font-weight: 700;
}
.active{
    width: 5px;
    height: 100%;
    display:flex;
    position:relative;
    left: 5px;
    transition: 1s;
}
.visible{
    background: #355b82;
    transition: 1s;
}

.contact-container .form input::placeholder{
    color: white;
}
.contact-container .form textarea{
    background-color: rgba(0, 196, 196, 0.3);
    border: 0;
    width: 500px;
    height: 250px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: 1s background;
}
.contact-container .form textarea:focus{
    outline: 0;
    font-weight: 700;
    background-color: rgb(0, 196, 196);
}

.contact-container .info{
    display: flex;
    flex-direction: column;
}

.contact-container .piece{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.contact-container .piece h6{
    font-size: 16px;
}
.contact-container .piece p{
    text-align: left;
    font-size: 20px;
}


.footer-copy{
    height: 70px;
    background: #262626;
    color: #b9b9b9;
}

.copy-container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.copy-container .logotype{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.copy-container span{
    font-weight: 700;
    color: #ff2b58;
}
@media only screen and (max-width: 1200px) {
    .container{
        width: 100vw;
    }

    .nav-brand{
        padding: 10vw;
    }
    header{
        padding-top: 147px;
        height: 100vh;
        background: #f9f8fb url('imgs/headerbg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    
    header p{
        width: 50vw;
        margin-bottom: 30px;
        font-size: 17px;
    }

    @keyframes scroll{
        0%{top: 90%;}
        30%{top: 90%;}
        70%{top: 93%;}
        100%{top: 93%;}
    }

    .section-about{
        background: #00b1b1;
        height: 100vh;
    }

    .about-container{
        height: inherit;
        background: url('/imgs/aboutbg.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-container .text{
        padding-bottom: 10vh;
        width: 90%;
        text-align: center;
    }

    .section-services{
        background-color: #70bfff;
        height: 100vh;

    }
    
    .services-container{
        height: inherit;
        background: url('/imgs/servicesbg.png');
        background-repeat: no-repeat;
        background-position: center top;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .section-gallery{
        background-color: #ffe92f;
        height: 110vh;
    }
    
    .gallery-container{
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pic-1{
        width: 60vw;
        height: 30vh;
    }
    .pic-4{
        height: 25vh;
    }

    .section-subscribe{
        height: 50vh;
    }
    
    .subscribe-container{
        padding: 5vw;
    }
    .subscribe-container p{
        width: 70vw;
        margin-bottom: 30px;
    }
    .subscribe-container input{
        width: 60vw;
        margin-right: 10px;
        padding: 20px;
    }


    .section-blog{
        height: 100vh;
    }

    .blog-container p{
        width: 60vw;
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .blog-container .row{
        justify-content: space-evenly;
        width: 90vw;
        margin-bottom: 30px;
    }
    .blogCard{
        width: 28vw;
        height: 40vh;
    } 
    
    .blogCard h5{
        margin-top: 12vh;
        height: 30%;
        padding: 20px;
        font-size: 18px;
        align-self: center;
    }
    
    .blogCard .desc{
        width: 100%;
        line-height: 15px;
    }

    .section-contact{
        height: 120vh;
    }
    
    .contact-container .row{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }
    .contact-container h2{
        font-weight: 700;
        font-size: 90px;
    }
    
    .contact-container p{
        width: 50vw;
        text-align: center;
    }
    .contact-container .input-field{
        width: 60vw;
    }
    .contact-container .form .input{
        width: 60vw;
    }
    
    .contact-container .form textarea:focus{
        outline: 0;
        font-weight: 700;
        background-color: rgb(0, 196, 196);
    }
    
    .contact-container .info{
        display: flex;
        flex-direction: column;
    }
    
    .contact-container .piece{
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-container .piece p{
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    .container{
        width: 100vw;
        font-size: 80%;
    }

    .nav-brand{
        font-size: 40px;
        margin: 0 auto;
        padding: 0;
    }

    header{
        padding-top: 147px;
        height: 100vh;
        background: #f9f8fb url('imgs/headerbg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .burger{
        position: absolute;
        top: 3vh;
        left: 80%;
        z-index: 50;
    }
    .bar{
        display: block;
        width: 40px;
        height: 4px;
        top: 20%;
        background-color: black;
        z-index: 1000;
        margin-bottom: 5px;
        border-radius: 5px;
        transition: 0.2s;
    }

    .open .bar1{
        transform: rotate(45deg) translate(3px, 10px)
    }
    .open .bar2{
        opacity: 0;
    }
    .open .bar3{
        transform: rotate(-45deg) translate(2px,-10px)
    }

    .nav-container{
        flex-direction: column;
    }
    .openNav{
        display: block !important;
        transition: 0.5s
    }
    .nav-items{
        margin-top: 60px;
        position: absolute;
        display: none;
        font-size: 30px;
        flex-direction: column;
        text-align: center;
        background-color: white;
        width: 100%;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
        transition: 0.5s

    }
    .nav-items li{
        margin-bottom: 20px;
    }

    .nav-items li:hover ::before{
        margin: 0 auto;
        width: 20%;
    }
    
    header p{
        width: 50vw;
        margin-bottom: 30px;
        font-size: 17px;
    }

    .scroll{
        display: none;
    }
    .section-about{
        background: #00b1b1;
        height: 100vh;
        
    }


    .about-container .text{
        padding-bottom: 10vh;
        width: 90%;
        text-align: center;
    }

    .about-container .text h2{
        margin-bottom: 10px;
        font-size: 60px;
    }
    .about-container .text p{
        line-height: 150%;
    }

    .section-services{
        height: 150vh;
    }

    .section-services h2{
        font-size: 60px;
    }
    
    .services-container .label{
        width: 90vw;
        height: 15vh;
    }



    .section-gallery{
        height: 180vh;
    }
    
    .gallery-container{
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery-container .galleryDesc{
        width: 80vw;
        line-height: 150%;
    }
    .gallery-container .galleryDesc h2{
        font-size: 60px;
    }

    .pictures-grid{
        grid-row-gap: 5px;
    }
    .pic-1{
        grid-column: 1/13;
        grid-row: 1;
        width: 80vw;
        height: 20vh;
    }
    .pic-2{
        grid-column: 1/13;
        grid-row: 2;
        width: 80vw;
        height: 20vh;
    }
    .pic-3{
        grid-column: 1/13;
        grid-row: 3;
        width: 80vw;
        height: 20vh;
    }
    .pic-4{
        grid-column: 1/13;
        grid-row: 4;
        width: 80vw;
        height: 20vh;
    }
    .pic-5{
        grid-column: 1/13;
        grid-row: 5;
        width: 80vw;
        height: 20vh;
    }



    .section-subscribe{
        background-size: 250%;
        background-position: center top;
        height: 70vh;
    }
    
    .subscribe-container{
        padding: 5vw;
    }
    .subscribe-container p{
        width: 70vw;
        margin-bottom: 30px;
    }
    .subscribe-container input{
        width: 50vw;
        margin-right: 10px;
        padding: 20px;
    }


    .section-blog{
        height: 200vh;
    }

    .blog-container h2{
        font-size: 60px;
        margin-bottom: 3vh;
    }
    .blog-container p{
        width: 60vw;
        line-height: 150%;
        text-align: center;
        margin-bottom: 3vw;
    }
    
    .blog-container .row{
        justify-content: space-evenly;
        flex-direction: column;
        width: 90vw;
    }
    .blogCard{
        width: 100%;
        height: 42vh;
        margin-bottom: 1vh;
    } 
    
    .blogCard h5{
        margin-top: 12vh;
        height: 30%;
        padding: 20px;
        font-size: 18px;
        align-self: center;
    }
    
    .blogCard .desc{
        width: 100%;
        line-height: 15px;
    }

    .section-contact{
        height: 130vh;
    }

    .section-contact h2{
        font-size: 60px;
        margin-bottom: 3vh;
    }
    
    .contact-container .row{
        margin-top: 5vh;
    }

    .contact-container p{
        width: 50vw;
        text-align: center;
    }
    .contact-container .input-field{
        width: 90vw;
    }
    .contact-container .form .input{
        width: 90vw;
    }
    
    .contact-container .form textarea{
        height: 30vh;
    }
    
    .contact-container .info{
        display: flex;
        flex-direction: column;
    }
    
    .contact-container .piece{
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-container .piece p{
        text-align: center;
        font-size: 15px;
    }

    .footer-copy{
        height: inherit;
        padding: 10px 0;
    }
    .copy-container{
        height: inherit;
        flex-direction: column;
    }
}